<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Express Static Website Example</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="/images/grogu.jpg" alt="Grogu" width=400>
        <div style="width:400px;">
            <p>Ipsum cillum nulla nulla eu anim est proident. Quis do ex id reprehenderit aliqua sint excepteur occaecat
                mollit.
                Adipisicing nulla laborum labore incididunt elit eiusmod qui Lorem voluptate et deserunt dolore elit
                ullamco.
                Velit irure ipsum ut proident exercitation commodo mollit veniam duis deserunt dolore anim.
                Exercitation excepteur sunt magna nulla deserunt amet deserunt.
            </p>
        </div>
    </div>
</body>

</html>