<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consentino Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Add to List</h1>
        <div>
            <form>
                <label for="add">Item to add to list:</label><br>
                <input type="text" id="add" name="add" value=""><br>
            </form>
        </div>
        <br>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">Add to List</a>
            <a href="login.html">Login</a>
        </nav>
    </div>
    
</body>

</html>