<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consentino Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Ryan Consentino</h1>
        <h3>Things I Like:</h3>
        <ol>
            <li>Escape from Tarkov</li>
            <li>Destiny (the video game)</li>
            <li>Phasmophobia</li>
            <li>Assassin's Creed</li>
            <li>Snowboarding</li>
            <li>Shooting</li>
            <li>Driving</li>
            <li>Working on my car</li>
            <li>Hiking</li>
            <li>Kayaking</li>
        </ol>
        <nav>
            <a href="#">Home</a>
            <a href="addToList.html">Add to List</a>
            <a href="login.html">Login</a>
        </nav>
        <div style="width:400px;">
            <p>Ipsum cillum nulla nulla eu anim est proident. Quis do ex id reprehenderit aliqua sint excepteur occaecat
                mollit.
                Adipisicing nulla laborum labore incididunt elit eiusmod qui Lorem voluptate et deserunt dolore elit
                ullamco.
                Velit irure ipsum ut proident exercitation commodo mollit veniam duis deserunt dolore anim.
                Exercitation excepteur sunt magna nulla deserunt amet deserunt.
            </p>
        </div>
        <img src="/images/gaming.jpg" alt="Gaming" width=400>
    </div>
</body>

</html>