<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consentino Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Ryan Consentino</h1>
        <h3>Things I Like:</h3>
        <ol>
            <li>Escape from Tarkov</li>
            <li>Destiny (the video game)</li>
            <li>Phasmophobia</li>
            <li>Assassin's Creed</li>
            <li>Shooting</li>
            <li>Driving</li>
            <li>Working on my car</li>
            <li>Hiking</li>
            <li>Kayaking</li>
            <li>Snowboarding</li>
        </ol>
        <nav>
            <a href="#">Home</a>
            <a href="addToList.html">Add to List</a>
            <a href="login.html">Login</a>
        </nav>
        <div style="width:400px;">
            <p>
                The reason I picked the items in the list above is because they are some of my favorite video games and my favorite hobbies.
                The top 4 are games that I find myself playing the most, with Escape from Tarkov being my favorite game, at least at the moment. 
                After the first 4, the rest are some of my hobbies. I enjoy target shooting with my friends, driving and working on my car, taking hikes both
                locally and in New Hampshire, kayaking, and snowboarding in the winter. That's just a little about me and some of the things that I enjoy doing in my free time!
            </p>
        </div>
        <img src="/images/gaming.jpg" alt="Gaming" width=400>
    </div>
</body>

</html>