<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consentino Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Login</h1>
        <div>
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="user" name="username" value=""><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" value=""><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <nav>
            <a href="index.html">Home</a>
            <a href="addToList.html">Add to List</a>
            <a href="#">Login</a>
        </nav>
    </div>
</body>

</html>