<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroid Avoidance Scores</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <h1>Welcome to the Score List page</h1>
        <nav>
            <a href='index.html'>Game</a>
            <a href='#'>Score List</a>
        </nav>
        <script>
            fetch('/getData').then(function(scores)
            {
                scores.json().then(function(thescores)
                {
                    console.log(thescores)
                    for(let score of thescores.score)
                    {
                        var gameElement = document.createElement('p')
                        gameElement.innerHTML = 'Name: ' + score.playerName + '; Score: ' + score.score
                        document.getElementById('container').appendChild(gameElement)
                    }
                })
            })
        </script>
    </div>
</body>
</html>